<ion-header color="dark" [translucent]="true">
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Film 3 Detayları</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen="true">
<div class="container">

  <ion-card>
    <img src="https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/1280x1280/products/89058/93685/Joker-2019-Final-Style-steps-Poster-buy-original-movie-posters-at-starstills__62518.1572351179.jpg?c=2?imbypass=on" alt="">
    <ion-card-header>
      <ion-card-subtitle>Bilim Kurgu</ion-card-subtitle>
      <ion-card-title>Joker</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsum a possimus eius eveniet animi saepe dolores repellat magnam? Voluptatibus vero qui expedita sed soluta nisi, harum, ullam, omnis reiciendis itaque fuga id quas accusamus nemo fugiat! Magnam, atque aperiam reprehenderit corrupti labore dolorem, dolores, praesentium laboriosam veritatis sit voluptates.
    </ion-card-content>
  </ion-card>
  </div>
  </ion-content>

